@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&family=Sofia+Sans:wght@300;400&display=swap');


body {
  font-family: 'Sofia Sans', sans-serif;
  margin: 0;
  background-color:rgb(247, 247, 247);
}

p {
  line-height: 2;
  font-size: 17.2px;
  /* text-align:justify; */
}

main {
  margin: 0 auto;
}

a {
  text-decoration:none;
  color:  #4d717d;
}

a:hover { 
  text-decoration: underline;
}

/*inputs*/

input,
textarea {
  height: 32px;
  padding: 0 16px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  background-color:rgb(247, 247, 247);
  color:  rgb(0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 1.9px;
  border-left-width: 1.9px;
  border-right-width: 1.9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-width: 1.9px;
  box-sizing: border-box;
  cursor:text;
}

input:focus,
textarea:focus {
  outline: none;
}

/*Banner*/

#banner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0,0) url('/public/img/namine banner 2.jpeg');
  background-size: cover;
  background-attachment:scroll;
  background-position:center;
  background-blend-mode: overlay;
  color: white;
  margin: 0;
}


#searchbox {
  position: fixed;
  right: 80px;
  top: 40px;
  width: 380px;
  z-index: -1; /* Initially set z-index to -1 */
  transition: 0.4s;
  visibility: hidden;
 
}

#searchbox input {
  height: 38px;
  width: 100%;
}

/*navigation*/

nav {
  height: 80px; /* Adjust height as needed */
  background: rgb(247, 247, 247);
  width: 100%;
  margin: 0;
  position: relative;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 100;
}

.navbar-nav {
  margin-left:auto;
  margin-right: auto;
}

.offcanvas-body {
  margin-left: 7%;
}

.offcanvas-body a  {
  padding: 0 100px;
  color: #4d717d;
  transition: 0.4s;
  text-align: center; /* Ensure text is centered within the anchor */
  margin-left: 50px;
  
}

.offcanvas-body a:hover{
  text-decoration: underline;
  color: #90acaf;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-left: 10%;
  padding: 0;
}

/* .active{
  text-decoration: underline;
} */

.logo-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  left:51%;
  background-attachment: scroll;
  transform: translateX(-50%);
  top: 65px;
  width:150px;
}

/*search icon*/

#search-icon {
  color:  #4d717d;
  padding:0 50px;
  margin:auto;
  cursor: pointer;
  transition: 0.4s;
}

#search-icon:hover {
  color:#90acaf;
}

/*footer*/

footer {
  background: #789ca8;
  color: rgb(247, 247, 247);
  display: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
}

footer a{
  color: rgb(247, 247, 247);
  font-size: 26px;
}

footer a:hover {
  color: #4d717d;
}

footer h3{
  font-weight: 600;
  font-size: 23px;
  margin-top: 3%;
}

footer #social-media-footer a.fa-instagram,
footer #social-media-footer a.fa-tiktok,
footer #social-media-footer a.fa-x-twitter{
  color:rgb(247, 247, 247);
  transition: 0.4s;
}

footer #social-media-footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 auto;  
}

footer #social-media-footer ul li{
  font-size: 25px;
  padding: 10px;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-instagram{
  color:  #4d717d;
}

footer #social-media-footer ul li:hover a .fa-tiktok{
  color:  #4d717d;
}
footer #social-media-footer ul li:hover a .fa-x-twitter{
  color: #4d717d;
}

.container.about-page{
  width: 70%;
  text-align: justify;
  margin-bottom: 10%;
}

.About h2 {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

.container.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}

.gallery img{
  width: 100%; 
}

.gallery img:hover{
  box-shadow: 0 10px 6px -6px #aeaeae;
}

.illustration-container .illustration-gallery {
  margin-left: 1%;
  margin-right: 1%;
}

.illustration-gallery {  
  padding: 45px 0;  
  line-height: 0;       
   -webkit-column-count: 5;    
   -webkit-column-gap: 0px;    
   -moz-column-count: 5;
   -moz-column-gap: 0px;
    column-count: 5;    
    column-gap: 1.5px;      
}  

.illustration-gallery img {    
  width: 100% !important;    
  height: auto !important;  
  margin: 0.5px 0;
}  
.illustration-gallery{    
  display:inline-block;    
  margin-right: auto;    
  margin-left: auto;
}

/* contact form - contact page */


.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
}

.contact-form input {
    background-color: white;
    width: 80%;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgb(148, 148, 148);
    margin-bottom: 20px;
   margin-left: 0%;
}

.contact-form textarea {
    background-color: white;
    width: 80%;
    height: 50%;
    /* margin-left: 12%; */
    padding: 5px 10px;
    border-radius: 10px;
    border-color: rgb(148, 148, 148);
    margin-bottom: 25px;
   
    
}

.contact-form button {
    background-color:#4d717d;
    border-radius: 8px;
    border-color: transparent;
    font-size: 22px;
    color: white;
    padding: 3px 13px;
}

.contact-form button:hover {
    opacity :80%;
    cursor: pointer;
}

/*Media Queries*/

@media(max-width:719px){
  footer{
      flex-direction: column;
      text-align: center;
  }
  footer #left-footer{
      flex:1;
      border-right:0;
      padding-left:0;
  }

  footer #right-footer{
      text-align:center;
  }

}

@media(min-width:720px){
  main{
      width:100%
  }

  .gallery{
      width:80%;
  }
  .gallery img{
      width:100%
  }
}

@media (max-width: 900px) {
  nav ul{
      display: none;
  }

  nav {
      flex-direction: row-reverse; /* Reverse the order of items */
      justify-content: flex-end; /* Align items to the end */
      padding: 0 16px; /* Adjust padding for better spacing */
  }

  #menu-icon{
      display: flex;
  }

  #slideout-menu{
      display: block;
  }

  #searchbox{
      display: none;
  }
  #logo-img {
    left: 16px; /* Adjust left position for smaller screens */
    transform: none; /* Remove horizontal centering */
  }

  
}

@media(min-width:720px){
  main{
      width:100%
  }

  
  .illustration-gallery img{
      width:100%
  }
}

@media (max-width: 1000px) {
  .illustration-gallery {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }
 }  
@media (max-width: 800px) {
  .illustration-gallery {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
 }  
@media (max-width: 400px) {
  .illustration-gallery {
  -moz-column-count: 1;
  -webkit-column-count: 1;
   column-count: 1;
  }
 }
